<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="login_form">
        <form action="" method="POST">
        <input class="input_feild" type="email" placeholder="email" name="email" required > <br> 
        <input class="input_feild" type="password" placeholder="password" name="password" required > <br>
    <p style="font-size: 1rem; color: rgb(94, 17, 17);"><%= er %> </p>
    <button class="input_feild" type="submit">Login</button>

    </form>

    <p>if you are not a user please <a href="/register.html">register</a></p>
    </div>
</body>
</html>